<div>
  <video autoplay muted loop id="myVideo">
      <source src="Media/y2mate.com - high tech digital earth background 4 k KWC32SJ_1080p.mp4" type="video/mp4">
  </video>
  <header>
      <h2 class="logo">ST<img src="https://i.postimg.cc/FHW3Lsf0/Group-4287-1.png"/>RK PROTOCOL</h2>
      <ul>
          <li>Home</li>
          <li>Products</li>
          <li>Features</li>
          <li>Contact</li>
      </ul>
  </header>
  <div>
      <div class="title">
        Empolyee <span>Details</span>
      </div>
      <div class="text1 text2">
        <button routerLink="student">Empolyee</button>
      </div>
      <div class="text1 text2">
        <button routerLink="department">Department</button>
        </div>
        <div class="text1 text2">
          <button routerLink="registrations">Registration</button>
          </div>
  </div>    
    <router-outlet></router-outlet>
  </div>
  <app-footer></app-footer>
  <!-- <app-student></app-student> -->
  