<div>
  <video autoplay muted loop id="myVideo">
      <source src="Media/y2mate.com - high tech digital earth background 4 k KWC32SJ_1080p.mp4" type="video/mp4">
  </video>
  <header>
      <h2 class="logo">ST<img src="https://i.postimg.cc/FHW3Lsf0/Group-4287-1.png"/>RK PROTOCOL</h2>
      <ul>
          <li>Home</li>
          <li>Products</li>
          <li>Features</li>
          <li>Contact</li>
      </ul>
  </header>
  <div>
      <div class="title">
          Student <span>Details</span>
      </div>
      <div class="text1">
        <button routerLink="student">Student</button>
      </div>
      <div class="text1 text2">
        <button routerLink="department">Department</button>
        </div>
  </div>

    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <button routerLink="student">Student</button>
            </li>
            <li class="nav-item">
              <button routerLink="department">Department</button>
            </li>            
          </ul>
        </div>
      </div>
    </nav> -->
    <router-outlet></router-outlet>
  </div>
  <app-footer></app-footer>
  <!-- <app-student></app-student> -->
  